.textEnter {
  background-color: var(--bg-surface-5);
  border: var(--border-color-mid) 1px solid;
  border-radius: 20px;
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 600;
 
  box-sizing: border-box;
  padding: 15px 5px;
  height: 66px;
  width: 100%;
  margin-left: 20px;
  
}