.textEnter {
  background-color: #282828;
  border: #5D5D5D  1px solid;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  font-weight: 600;
 
  box-sizing: border-box;
  padding: 15px 5px;
  height: 66px;
  width: 100%;
  margin-left: 20px;
  
}