.textEnter {
  background-color: var(--bg-surface-5);
  border: var(--border-color-mid) 1px solid;
  border-radius: 22px;
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 15px 20px;
  height: 78px;
  width: 100%;
}

.textEnter::placeholder {
  color: white;
  font-weight: 400;
}
