.goBackBtn {
  padding: 13px 55px;
  font-size: 32px;
  border-radius: 20px;
  background-color: var(--bg-surface-6);
  cursor: pointer;
  border: none;
  color : var(--text-primary);
  margin: 40px 0;
  transition: 0.3s;
}

.goBackBtn:hover {
  background-color: var(--text-primary);
  color: var(--bg-surface-6);
}