.regTopBar {
  background-color: #333333;
  width: 95%;
  border-radius: 20px;
  height: 126px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  color: white;
  justify-content: space-between;
  margin-top: 20px;
}
