.title {
  background-color: rgba(255, 255, 255, 0.15) ;
  border-radius: 30px;
  min-width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding: 20px;
   margin:  0px 30px;
   box-sizing: border-box;
}