.chatContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background-color: var(--bg-app);
  align-items: center;
  gap: 15px;

  height: 90vh;
  width: 100%;
  max-width: 400px;

  box-sizing: border-box;
  border-left: 0.1px solid var(--border-color-soft);
  border-right: 0.1px solid var(--border-color-soft);
  
}

.profileSettings {
  margin-top: auto;
  width: 100%;
}

