.chatContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0a0a0a;
  align-items: center;
  gap: 15px;
  
  height: 87vh;
  width: 100%;
  max-width: 400px;

  box-sizing: border-box;
  border-left: 0.1px solid #36415368;
  border-right: 0.1px solid #36415367;
  
}