 .sendButton {
 background-color: #009689;
  border: none;
  border-radius: 50%;
  flex: 0 0 78px;
  box-sizing: border-box;
  padding: 10px;
  height: 78px;
  width: 78px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 500ms;
}

.sendButton:hover {
  background-color: rgba(0, 141, 129, 0.8);
  scale: 1.1;
}