.divideLine { 
   background-color: rgba(255, 255, 255, 0.15) ;
  border-radius: 30px;
  width: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  height: 90vh;
   margin:  50px 30px;
   box-sizing: border-box;
}