.signMenu {
  margin-top: 160px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #343434, #131313);
  padding: 120px 50px;
  min-width: 550px;
  width: 100%;
  box-sizing: border-box;
}

.form input {
  padding: 18px 20px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.1); /* прозрачность */
  backdrop-filter: blur(10px); /* главный эффект стекла */
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 95%;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.form input:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.form input::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), transparent);

  opacity: 0.5;
}

.form input::placeholder {
  color: #ffffff;
}

.header {
  color: rgba(255, 255, 255, 0.5);
  font-size: 55px;
  margin-bottom: 20px;
  text-shadow: 3px 2px 5px rgba(107,107,107,0.75)
}

.signUpButton {
  padding: 15px 46px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.1); /* прозрачность */
  backdrop-filter: blur(10px); /* главный эффект стекла */
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  color: white;
  font-size: 16px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.signUpButton:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.signUpButton::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), transparent);

  opacity: 0.5;
}
