.signMenu {
margin-top: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #3a3a3a;
  height: 496px;
  width: 427px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 20px ;
  padding: 20px 26px ;  
  font-size: 16px;
  box-sizing: border-box;
  background-color: #5C5C5C;
  color: white;
}

.form input::placeholder {
  color: #ffffff;
}

.header {
  color: white;
  font-size: 35px;
  margin-bottom: 20px;
}


