.headerChat {
  background-color: #282828;
  border: #5d5d5d 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 5px;
  height: 66px;
  width: 100%;
  margin-left: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.chatName {
  color: white;
  font-size: 25px;
  text-align: center;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #41809a;
  border-radius: 50%;
  margin-left: 8px;
}

.status {
  color: #41809a;
  font-size: 18px;
  margin-left: 5px;
}

@media (max-width: 450px) {
  .headerChat {
    margin-left: 0;
    width: 100%;
    border-radius: 0;
    height: 50px;
    padding: 5px;
    display: none;
  }
}
