.buttonMain {
  width: 300px;
  height: 60px;
  background-color: rgba(28, 28, 28);
  margin-bottom: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px 35px;
  color: rgb(255, 255, 255);
  font-size: 32px;
  justify-content: center;
  border: none;
  cursor: pointer;
}
