.bubbleRightWrapper {
  background-color: var(--bubble-own);
  border-radius: 45px 45px 15px 45px;
  height: 80px;
  width: 280px;
  padding: 20px;
  color: var(--bubble-own-text);
  font-size: 20px;
  font-weight: 200;
  text-align: end;
  gap: 10px;
}