.actionLeftBar {
  background-color: #0a0a0a;
   height: 90vh;
   padding: 20px;
   width: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.buttonModeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  box-sizing: border-box;
   
}

.bottomContainer {
 gap: 15px;
 display: flex; 
 flex-direction: column;
 box-sizing: border-box;
}