.actionLeftBar {
  background-color: var(--bg-surface-1);
   height: 100%;
   padding: 50px;
   width: 40px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

}

.buttonModeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  box-sizing: border-box;
   
}

.bottomContainer {
 gap: 15px;
 display: flex; 
 flex-direction: column;
 box-sizing: border-box;
}