.chatBubbleFlex {
  display: flex;
  align-items: center;
  justify-content: end;
}
.chatBubble {
  background-color: #93b3dd;
  border: #5d5d5d 1px solid;
  border-radius: 20px;
 
  box-sizing: border-box;
  padding: 10px;
  width: fit-content;
  margin-left: 20px;
  align-items: center;
  color: rgb(26, 26, 26);
  text-align: end;
}

.userLogo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #cccccc;
  margin-left: 8px;
}
