.sideBar {
  background-color: #282828;
  border: #5D5D5D  1px solid;
  border-radius: 20px;
  width: 262px;
  box-sizing: border-box;
  padding: 10px 5px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.messagesContainer {
  width: 60%;
 
}

.messages {
  color: white;
  font-size: 24px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
   margin-top: 20px;
  background-color: #202020;
   border: #5D5D5D  1px solid;
  border-radius: 20px;
  padding: 13px 15px;
}

.spaceChatLines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}


@media (max-width: 450px) {
  .sideBar {
    max-width: 400px;
    width: 100%;
    background-color: rgb(28, 28, 37);
  }
}