.blockWrapper {
  border: 1px solid var(--border-color);
  background-color: var(--bg-surface-2);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 590px;
}

.blockWrapper h2 {
  font-size: 32px;
  margin: 20px 10px;
  color: var(--text-primary);
}

