.infoDetails {
  font-size: 24px;
  padding: 50px 25px;
  background-color: #333333;
  border-radius: 20px;
  flex-direction: column;
  gap: 15px;
  display: flex;
  color: white;
}

.infoDetails input {
  font-size: 20px;
  padding: 25px 20px;
  border-radius: 0px 20px 20px 0px ;
  border: none;
  background-color: #3B3B3B;
  color: white;
  width: 100%;
  
  
}

.infoFlex {
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-color: #4D4D4D;
  border-radius: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.infoFlex label {
  width: 182px;
}