.infoDetails {
  font-size: 24px;
  padding: 50px 25px;
  background-color: var(--bg-surface-6);
  border-radius: 20px;
  flex-direction: column;
  gap: 15px;
  display: flex;
  color: var(--text-primary);
}

.infoDetails input {
  font-size: 20px;
  padding: 25px 20px;
  border-radius: 0px 20px 20px 0px ;
  border: none;
  background-color: var(--bg-surface-7);
  color: var(--text-primary);
  width: 100%;


}

.infoFlex {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: var(--bg-surface-8);
  border-radius: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.infoFlex label {
  width: 182px;
}