.joinedClubsList {
  background-color: var(--bg-overlay);
  border-radius: 30px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 20px;
  display: flex;
  padding: 37px;
  height: 54px;
   margin:  30px 30px;
   box-sizing: border-box;

}