.buttonMode {
  display: flex;
  align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--bg-surface-1);
    width: 68px;
    height: 68px;
    border-radius: 18px;
     box-sizing: border-box;
     transition: 0.6s ease;
     background-color: #000000;
}

.buttonMode:hover {
  background-color: #3b8c85;
  cursor: pointer;

}

.active {
  background-color: #3b8c85;
}